
body{

    background-color: #fc9c19;

}

header, footer{
    height: 10vh;
}

main{
    height: 80vh;
}

.bg{
    background-color: #ffdc6a;
    border: 1px solid rgba(153, 125, 72, 0.8);
}

.no-border{

    border: 0px solid #fff!important;

}