
body{

    background-color: #f3eae8;

}

.bg{

    background-color: rgb(200, 100, 30, 0.1);
    border: 1px solid rgb(200, 100, 30, 0.8);    

}

.d-flex > a{

    border: 1px solid rgb(200, 100, 30, 0.8);  

}
