

body{

    background-color: rgb(170, 255, 196) ;
}

.bg {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgb(243, 117, 32, 0.15);
    border: 1px solid rgb(243, 117, 32, 0.2);

}

